html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; border-radius: 0; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

@font-face { font-family: nau; src: url("fonts/nautilus-webfont.eot"); src: url("fonts/nautilus-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/nautilus-webfont.woff") format("woff"), url("fonts/nautilus-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: core; src: url("fonts/coresansd67cnheavy-webfont.eot"); src: url("fonts/coresansd67cnheavy-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/coresansd67cnheavy-webfont.woff") format("woff"), url("fonts/coresansd67cnheavy-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: acrom; src: url("fonts/the_northern_block_-_acrom_extrabold-webfont.eot"); src: url("fonts/the_northern_block_-_acrom_extrabold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/the_northern_block_-_acrom_extrabold-webfont.woff") format("woff"), url("fonts/the_northern_block_-_acrom_extrabold-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: Helvetica-Light; src: url("fonts/HelveticaNeueCyr-Light.eot"); src: url("fonts/HelveticaNeueCyr-Light.eot?#iefix") format("embedded-opentype"), url("fonts/HelveticaNeueCyr-Light.woff") format("woff"), url("fonts/HelveticaNeueCyr-Light.ttf") format("truetype"); font-weight: normal; font-style: normal; }
body { font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 1.4; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

body { background: #f8f8f8; }

.in, .header, .footer { max-width: 1400px; min-width: 1200px; margin: 0 auto; }
.in.is-active .slider, .is-active.header .slider, .is-active.footer .slider { height: auto; opacity: 1; visibility: visible; overflow: visible; }

.header { height: 760px; position: relative; background: url(../img/header.jpg) no-repeat 50% 50%; -webkit-background-size: cover; -o-background-size: cover; background-size: cover; }
.header .header__motto { position: absolute; bottom: 0; left: 0; right: 0; height: 93px; line-height: 93px; background: rgba(0, 0, 0, 0.34); text-align: center; color: white; font-size: 48px; font-weight: normal; font-family: "acrom", Arial, sans-serif; }
.header .header__motto em { color: #ea1d7a; font-style: normal; font-family: "nau", Arial, sans-serif; }
.header .header__logo { position: absolute; left: 15%; top: 45px; background: url('../img/icons-s9a72103339.png') 0 -281px no-repeat; width: 410px; height: 122px; font: 0/0 a; text-shadow: none; color: transparent; cursor: pointer; }
.header .header__phone { right: 15%; top: 84px; position: absolute; width: 400px; text-align: center; background: rgba(0, 0, 0, 0.34); color: white; font-size: 37px; font-family: "acrom", Arial, sans-serif; }

.nav { text-align: center; margin: 15px 0; }
.nav ul { list-style: none; }
.nav li { display: inline-block; }
.nav a { display: inline-block; font-size: 18px; text-decoration: none; color: #9b8a79; height: 41px; line-height: 41px; padding: 0 16px; -moz-transition: all 0.1s linear; -o-transition: all 0.1s linear; -webkit-transition: all 0.1s linear; transition: all 0.1s linear; }
.nav a:hover, .nav a.is-active { color: white; background: #ea1d79; }

.wat { text-align: center; position: relative; }
.wat h3 { font-size: 24px; color: #9b8a79; margin: 40px 0; font-weight: 100; }
.wat h3 span { font-size: 30px; font-weight: 100; }
.wat h3 span strong { color: #94d2d0; font-family: "nau", Arial, sans-serif; font-weight: 200; }
.wat .slideshow { width: 880px !important; height: 340px; margin: 0 auto; overflow: hidden; }
.wat .wat__item { display: inline-block; vertical-align: top; width: 240px; text-align: left; margin: 0 30px; font-size: 13px; text-decoration: none; color: black; }
.wat .wat__item:hover .wat__top { background-color: #ed1279; }
.wat .wat__item p { margin-top: 13px; line-height: 1.3; white-space: normal; }
.wat .wat__option .wat__prev, .wat .wat__option .wat__next { position: absolute; top: 0; bottom: 0; width: 100%; height: 100%; width: 15px; display: block; z-index: 200; }
.wat .wat__option .wat__prev.wat__prev, .wat .wat__option .wat__next.wat__prev { left: 0; }
.wat .wat__option .wat__prev.wat__prev .wat__btn, .wat .wat__option .wat__next.wat__prev .wat__btn { -ms-transform: rotate(-180deg); -webkit-transform: rotate(-180deg); transform: rotate(-180deg); }
.wat .wat__option .wat__prev.wat__next, .wat .wat__option .wat__next.wat__next { right: 0; }
.wat .wat__option .wat__prev:hover .wat__btn, .wat .wat__option .wat__next:hover .wat__btn { visibility: visible; opacity: 1; }
.wat .wat__option .wat__btn { position: absolute; top: 42px; background: url('../img/icons-s9a72103339.png') 0 -413px no-repeat; width: 15px; height: 45px; opacity: 0; visibility: hidden; display: block; -moz-transition: all 0.1s linear; -o-transition: all 0.1s linear; -webkit-transition: all 0.1s linear; transition: all 0.1s linear; }
.wat .wat__top { width: 220px; height: 118px; line-height: 118px; text-align: center; color: white; font-size: 22px; text-decoration: none; background: #92d2d1; display: block; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; font-family: "acrom", Arial, sans-serif; }
.wat .wat__text { display: block; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.wat .wat__block { line-height: 1.2; vertical-align: middle; display: inline-block; }

.pictitle { margin-top: 90px; text-align: center; color: white; font-weight: bold; font-size: 120px; -webkit-background-size: cover; -o-background-size: cover; background-size: cover; font-weight: normal; font-family: "core", Arial, sans-serif; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding-top: 120px; }
.pictitle h3 { font-weight: normal; line-height: 1.1; }
.pictitle h3 span { position: relative; top: -50px; }
.pictitle.pictitle_moretext { padding-top: 30px; }

.items { *zoom: 1; font-size: 0; width: 964px; margin: 37px auto; }
.items:after { content: " "; display: table; clear: both; }

.item { position: relative; display: inline-block; vertical-align: top; width: 220px; height: 220px; margin-right: 1%; overflow: hidden; margin: 0 20px 20px 0; }
.item:hover .item__bg { opacity: 1; visibility: visible; }
.item:hover img { transform: scale(1.2); -moz-transform: scale(1.2); -webkit-transform: scale(1.2); -o-transform: scale(1.2); }
.item img { display: block; width: 100%; height: 100%; -moz-transition: all 0.4s linear; -o-transition: all 0.4s linear; -webkit-transition: all 0.4s linear; transition: all 0.4s linear; }
.item .item__bg { position: absolute; top: 0; left: 0; padding: 0 30px; width: 100%; height: 100%; line-height: 220px; text-align: center; opacity: 0; visibility: hidden; cursor: pointer; background-color: rgba(146, 210, 209, 0.7); -moz-transition: all 0.4s linear; -o-transition: all 0.4s linear; -webkit-transition: all 0.4s linear; transition: all 0.4s linear; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; font-family: "Helvetica-Light", Arial, sans-serif; }
.item .item__bg span { font-size: 24px; color: white; line-height: 1.4; vertical-align: middle; display: inline-block; }

.slider { display: none; background-color: #f8f8f8; padding-bottom: 15px; }
.slider .slider__in { margin: 0 auto; width: 854px; }
.slider .slider__buttons { padding: 15px 0; text-align: right; }
.slider .slider__wrap { width: 854px; height: 854px; overflow: hidden; }
.slider .slider__item { height: 854px; width: 854px; }
.slider .slider__item img { width: 100%; display: block; }
.slider .slider__prev, .slider .slider__close, .slider .slider__next { position: relative; margin-left: 15px; height: 40px; width: 40px; line-height: 40px; text-align: center; vertical-align: middle; background: black; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; display: inline-block; font-size: 0; -moz-transition: all 0.1s linear; -o-transition: all 0.1s linear; -webkit-transition: all 0.1s linear; transition: all 0.1s linear; }
.slider .slider__prev:hover, .slider .slider__close:hover, .slider .slider__next:hover { background-color: #8ab7d6; }
.slider .slider__prev .ico, .slider .slider__close .ico, .slider .slider__next .ico { vertical-align: middle; }

.ico { display: inline-block; }
.ico.ico_prev { background: url('../img/icons-s9a72103339.png') 0 -48px no-repeat; width: 8px; height: 14px; }
.ico.ico_close { background: url('../img/icons-s9a72103339.png') 0 0 no-repeat; width: 13px; height: 14px; }
.ico.ico_next { background: url('../img/icons-s9a72103339.png') 0 -24px no-repeat; width: 8px; height: 14px; }
.ico.ico_puzzle { background: url('../img/icons-s9a72103339.png') 0 -468px no-repeat; width: 51px; height: 51px; }
.ico.ico_letters { background: url('../img/icons-s9a72103339.png') 0 -232px no-repeat; width: 69px; height: 39px; }
.ico.ico_time { background: url('../img/icons-s9a72103339.png') 0 -550px no-repeat; width: 46px; height: 60px; }
.ico.ico_gift { background: url('../img/icons-s9a72103339.png') 0 -163px no-repeat; width: 60px; height: 59px; }
.ico.ico_cutting { background: url('../img/icons-s9a72103339.png') 0 -102px no-repeat; width: 61px; height: 51px; }

.motto { text-align: center; font-size: 36px; color: #9b8a79; margin: 40px 0; font-family: "acrom", Arial, sans-serif; }
.motto a { color: #94d2d0; text-decoration: none; font-family: "nau", Arial, sans-serif; font-style: normal; }

.order { overflow: hidden; }
.order h2 { text-align: center; font-size: 30px; color: #9b8a79; margin: 40px 0; font-weight: 100; }
.order h2 strong { color: #94d2d0; font-size: 30px; }
.order .order__field { background-color: white; margin-bottom: 30px; }
.order .order__part { width: 970px; margin: 0 auto; padding: 35px 0 80px; clear: both; }
.order .order__part .field { float: left; margin-right: 20px; }
.order .order__part .field .field__inputsel { margin-top: 10px; margin-right: 78px; border: 1px solid #dedede; }
.order .order__part .field .field__inputsel select { height: 20px; width: 140px; }
.order .order__part .field input { border: 1px solid #dedede; border-radius: 3px; width: 220px; height: 32px; margin-top: 2px; }
.order .order__part .field textarea { width: 456px; height: 80px; border: 1px solid #dedede; margin-top: 10px; }
.order .order__part .field .loadfile { margin-top: 5px; }
.order .order__part .field .filesize { color: #ed1279; font-weight: bold; }
.order .order__part label { font-size: 12px; font-weight: bold; }
.order .order__part label span { color: #ed1279; }
.order .order__part_2 { padding: 10px 0 100px; }
.order .order__submit { position: relative; left: 100px; top: 88px; }
.order .order__submit input { padding: 6px 16px; background: #92d2d1; border: 1px solid #e5e5e5; color: white; }

.footer { padding: 85px 0 100px 0; background: url(../img/footer.jpg) no-repeat 0 0; -webkit-background-size: cover; -o-background-size: cover; background-size: cover; margin-top: 10px; margin-bottom: 20px; }
.footer .footer__text { width: 80%; margin: 0 auto; font-family: "acrom", Arial, sans-serif; font-size: 48px; color: white; text-align: center; padding: 20px; background: rgba(0, 0, 0, 0.3); }
