// Normally mainpage styles
body
	background: #F8F8F8
.in
	max-width: 1400px 
	min-width: 1200px 
	margin: 0 auto

.header
	@extend .in
	height: 760px 
	position: relative
	background: url(../img/header.jpg) no-repeat 50% 50%
	-webkit-background-size: cover 
	-o-background-size: cover 
	background-size: cover 
	.header__motto
		position: absolute
		bottom: 0
		left: 0
		right: 0
		height: 93px    
		line-height: 93px
		background: rgba(#000, .34) 
		text-align: center
		color: #fff
		font-size: 48px
		font-weight: normal
		+acrom
		em
			color: #EA1D7A
			font-style: normal 
			+nau
	.header__logo
		position: absolute
		left: 15%
		top: 45px
		+s(logo)
		+hide-text
		cursor: pointer
	.header__phone
		right: 15%
		top: 84px
		position: absolute
		width: 400px
		text-align: center
		background: rgba(#000,.34)
		color: #fff
		font-size: 37px
		+acrom
.nav
	text-align: center
	margin: 15px 0 
	ul
		list-style: none
	li
		display: inline-block
	a
		display: inline-block
		font-size: 18px 
		text-decoration: none
		color: #9B8A79 
		height: 41px
		line-height: 41px
		padding: 0 16px   
		&:hover
			background: #fafafa
		&.is-active
			color: #fff 
			background: #EA1D79 

.wat
	text-align: center	
	position: relative	

	h3		
		font-size: 24px 
		color: #9B8A79 
		margin: 40px 0
		font-weight: 100

		span
			font-size: 30px
			font-weight: 100
			
			strong
				color: #94D2D0
				+nau		
				font-weight: 200

	.slideshow		
		margin: 0 auto
	
	.wat__item
		display: inline-block
		vertical-align: top
		width: 240px
		text-align: left
		margin: 0 30px
		font-size: 13px

		p
			margin-top: 13px
			white-space: normal

	.wat__option 
		position: absolute
		top: 155px
		left: 1050px
		a
			+s(option)
			display: block

.pictitle
	margin-top: 90px	
	text-align: center
	color: #fff
	font-weight: bold
	font-size: 120px	
	-webkit-background-size: cover 
	-o-background-size: cover 
	background-size: cover 
	font-weight: normal
	+core
	+box
	padding-top: 120px 
	// letter-spacing: 10px 
	h3
		font-weight: normal
		line-height: 1.1 
		span
			position: relative
			top: -50px
	&.pictitle_moretext
		padding-top: 30px
		
.items
	+clr
	font-size: 0 
	width: 964px 
	margin: 37px auto
	 
.item
	display: inline-block
	vertical-align: top
	width: 220px 
	height: 220px 
	margin-right: 1%
	overflow: hidden
	margin:  0 20px 20px 0  
	
	img
		display: block
		width: 100%
		height: 100%		

.motto
	text-align: center
	font-size: 36px 
	color: #9B8A79 
	margin: 40px 0 
	+acrom
	em
		color: #94D2D0 
		+nau
		font-style: normal 

.order	
	overflow: hidden

	h2
		text-align: center		
		font-size: 30px 
		color: #9B8A79 
		margin: 40px 0
		font-weight: 100

		strong
			color: #94D2D0
			font-size: 30px			

	.order__part
		width: 970px
		margin: 0 auto
		margin-bottom: 150px
		clear: both

		.field
			float: left
			margin-right: 20px

			.field__inputsel
				margin-top: 10px
				margin-right: 78px
				border: 1px solid #dedede

				select
					height: 20px
					width: 140px					
			input
				border: 1px solid #dedede
				border-radius: 3px
				width: 220px
				height: 32px
				margin-top: 2px

			textarea
				width: 456px
				height: 80px
				border: 1px solid #dedede
				margin-top: 10px

			.loadfile				
				margin-top: 5px

			.filesize
				color: #ed1279
				font-weight: bold

		label
			font-size: 12px
			font-weight: bold

			span
				color: #ed1279				

	.order__submit 
		position: relative
		left: 100px
		top: 88px

		input
			padding: 6px 16px
			background: #92d2d1
			border: 1px solid #e5e5e5
			color: #fff				


.footer
	padding: 85px 0 100px 0
	background: url(../img/footer.jpg) no-repeat 0 0 
	-webkit-background-size: cover 
	-o-background-size: cover 
	background-size: cover  
	@extend .in
	margin-top: 10px  
	margin-bottom: 20px 
	.footer__text
		width: 80%
		margin: 0 auto  
		+acrom
		font-size: 48px 
		color: #fff
		text-align: center
		padding: 20px  
		background: rgba(#000, .3) 